<h1>All articles</h1>
<ul>
	<% @articles.each do |article| %>
		<li>
			<p>	
				<%= link_to "#{article.title}", article_path(article) %> | 
				<%= link_to "Edit", edit_article_path(article) %>
			</p>
		</li>	
		<hr />	
	<% end %>

</ul>